h1,h2 {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.float-left {
    float:left;
}